{% trans_default_domain 'FOSUserBundle' %}


<!-- check userdetails: als nog niet alle essentiële gegevens ingevuld zijn, aanmoedigen deze in te vullen -->


<div>
    <div class="button-container">
        <a class="button-small" href={{ path('fos_user_profile_edit') }}>Bewerk je profiel</a>
    </div>
    <div class="button-container">
        <a class="button-small" href={{ path('fos_user_resetting_request') }}>Verander je wachtwoord</a>
    </div>
</div>

