{% extends 'base.html.twig' %}

{% block title %} :: Vacatures{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
{% endblock %}

{% block javascripts %}
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{% endblock %}


{% block body %}

<div class="grid-y homepage-body">

    <table id="tabel-vacatures" class="display">
        <thead>
            <th></th>
            <th>Niveau</th>
            <th>Vacature</th>
        </thead>
        <tbody></tbody>
    </table>

 </div>   

    
    <script>
    $(document).ready( function() {
    
        $('#tabel-vacatures').DataTable();
    
    });
    </script>

{% endblock %}
