@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff'); }
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/roboto-condensed-webfont.woff2') format('woff2'),
         url('../fonts/roboto-condensed-webfont.woff') format('woff'); }

         
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important;
    font-size: 2rem !important; }
h2 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important;
    font-size: 1.5rem !important; }

a {
    color: #F15A24 !important; }
label {
    color: #333333 !important;}

.orange {
    color: #F15A24; }
.bebas {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important; }


.button-container {
    margin-top: 20px;
    margin-bottom: 20px; }
a.button-small,
a.button-large {
    background-color: #333333;
    color: white !important;
    border: solid #333333 10px;
    border-radius: 5px; }


.tables-layout thead {
    border: none; }
    .tables-layout thead th {
        background-color: white;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0 0 0 8px !important; }
.tables-layout tbody {
    border: none; }
    .tables-layout tr td {
        font-size: 1rem;
        height: 40px;
        background-color: white;
        border-bottom: 1px solid #333333;
        vertical-align: bottom; }
        .tables-layout td.level {
            text-transform: uppercase;
        }

.dataTables_info {
    display: inline-block;
    font-size: 0.875rem;
}

.pagination,
.pagination .current {
    display: inline-block;
    background-color: #F15A24 !important;
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
    font-size: 0.875rem;
}
.pagination a {
    color: #333333 !important;
}

@media (max-width: 400px) {
    .pagination,
    .pagination .current {
        padding: 0.3rem 0.4rem;
    }
}
    
@media (min-width: 640px) {

    a.button-large {
        font-size: 1.5em;
        padding: 10px;
    }

    .tables-layout tr td {
        height: 30px;
    }
}

@media (min-width: 1024px) {
    .tables-layout thead th {
        font-size: 16px;
        font-weight: 700; }
    .tables-layout tr td {
        height: 40px;
        font-size: 16px; }

    .pagination,
    .pagination .current {
        padding: 0.5rem 0.6rem;
        font-size: 1rem;
    }
}

/****************************
        MOTIVATIE
****************************/

.photo-container-motivatie {
    text-align: center; }
    img.photo-motivatie {
        padding-top: 20px;
        max-width: 50%;
    }

h1.motivatie-titel {
    font-size: 1.5rem !important;
    padding-top: 10px;
    padding-bottom: 20px;
}
p.motivatie-tekst {
    min-height: 30vh;
    padding: 10px 20px;
    border: 1px solid #F15A24;
    font-style: italic;
}

@media (min-width: 640px) {

    h1.motivatie-titel {
        font-size: 2rem !important;
    }

    img.photo-motivatie {
        padding-top: 10px;
    }

    p.motivatie-tekst {
        width: 90%;
    }
}

@media (min-width: 1024px) {

    img.photo-motivatie {
        max-width: 60%;
    }

    h1.motivatie-titel {
        font-size: 2.5rem !important;
    }
}

@media (min-width: 1400px) {

    img.photo-motivatie {
        max-width: 40%;
    }
}

/****************************
        BEKIJK PROFIEL
****************************/

.display-profile-row {
    padding: 0.3rem 0; }
    .display-profile {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1.5px solid #F15A24;
        font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
        height: 1.8rem; }
    .display-profile-box {
        border: none;
        font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 1rem;
        height: auto; }
    .display-profile-subtitle {
        padding-top: 20px; }
    .display-profile-photo {
        padding-bottom: 10px; }
    .display-profile-buttons {
        text-align: center; }

#profile-overview th,
#profile-overview td {
    font-size: 0.8rem;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px black;
    box-shadow: none;
    text-align: left;
}

.profile-overview-empty {
    font-style: italic;
    color: #777777;
}


@media (min-width: 640px) {

    .display-profile-buttons {
        text-align: left;
        padding-left: 12px;
    }

    .profile-overview-container {
        padding-top: 20px;
        padding-left: 10%;
    }

    #profile-overview {
        width: 60%;
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

@media (min-width: 1400px) {

    .profile-overview-container {
        padding-top: 0;
    }
}

/****************************
            FORMS
****************************/
    
label.form-label {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: lowercase;
}
input.form-input, input.form-input:focus,
select.form-select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #F15A24;
    box-shadow: none;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.1rem;
    height: 1.8rem; }
    input.login-password {
        font-size: 20px; }

select.form-select {
    -webkit-appearance: menulist;
       -moz-appearance: menulist;
            appearance: menulist;
}

.form-submit-wrapper {
    position: relative; }
    .form-submit-wrapper>label {
        height: 10px; }
        .form-submit-arrow {
            transform: scale(2);
            position: absolute;
            top: 60%; }
    .form-submit {
        background-color: transparent;
        border: none;
        font-size: 26px;
        position: absolute;
        top: 10%;
        left: 10%; }

input::-webkit-calendar-picker-indicator{
    display: none;
}

a.password-reset {
    font-size: 0.5rem;
}    


.login-page {
    padding: 0 5%;
}
.login-img-container {
    position: relative; }
    img.login-hex {
        position: absolute;
        top: 3%;
        left: 10%;
        max-width: 60%; }
    img.excl-mark {
        position: absolute;
        top: 0;
        left: 30%;
        max-width: 20%;
    }
.login-submit-icon {
    position: relative; }
    .login-submit-icon>input {
        display: none; }
    .login-submit-icon>label {
        position: absolute;
        right: 3%; }


.profile-label,
.profile-input,
.vacature-label,
.vacature-input {
    display: block;
}
.quill_tekst {
    min-height: 100px;
    height: 20vh;
    max-height: 200px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    color: #333333;
    font-style: italic;
    border-color: #333333 !important;
    margin-bottom: 10px; }
    .ql-toolbar.ql-snow {
        border-color: #333333;
    }
    

.submit-wrapper {
    position: relative;
    height: 20px;
}
.form-submit.bijwerken {
    left: 15%;
}
.form-submit.opslaan {
    left: 5%;
}
.form-submit-arrow.bijwerken-arrow,
.form-submit-arrow.opslaan-arrow {
    top: 50%;
}


.nieuwe-vacature-tekst {
    padding-top: 10px;
    padding-bottom: 10px;
}
.quill-subtext {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    font-size: 0.7rem;
}



@media (min-width: 400px) {
    
    .form-submit {
        left: 8%;
    }
}
@media (min-width: 640px) {

    label.form-label,
    a.password-reset {
        font-size: 0.6rem;
    }

    .login-page {
        padding-right: 20%;
    }
    .login-submit-icon>label {
        right: 5%;
    }

    .form-submit {
        left: 5%; }
    .form-submit.bijwerken {
        left: 50%; }
    .form-submit.opslaan {
        left: 55%;
    }
    .form-submit-arrow.bijwerken-arrow,
    .form-submit-arrow.opslaan-arrow {
        left: 45%;
        top: 55%; }

    .vacature-input-standplaats,
    .vacature-input-werkniveau {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    
    label.form-label,
    a.password-reset {
        font-size: 0.7rem;
    }
    .form-submit {
        left: 7%;
        top: 14%;
    }

    .form-submit.bijwerken {
        left: 70%; }
    .form-submit-arrow.bijwerken-arrow {
        left: 65%;
        top: 55%; }
    .form-submit-arrow.opslaan-arrow {
        left: 48%;
        top: 55%;
    }


    img.login-hex {
        left: 42.5%;
        max-width: 30%; }
    img.excl-mark {
        left: 55%;
        max-width: 8%;
    }
    .login-title {
        font-size: 3rem !important;
    }
    .login-submit-icon>label {
        right: 20%;
        top: 10%;
    }

    .quill_soll {
        max-width: 800px;
    }
}

@media (min-width: 1400px) {

    .form-submit {
        left: 5%;
    }

    .form-submit.bijwerken {
        left: 80%; }
    .form-submit-arrow.bijwerken-arrow {
        left: 77%;
        top: 55%; }
        
    .form-submit.opslaan {
        left: 75%; }
    .form-submit-arrow.opslaan-arrow {
        left: 70%;
        top: 55%;
    }

    img.login-hex {
        left: 70%;
        max-width: 100px;
    }
    img.excl-mark {
        left: 77%;
        max-width: 30px;
    } 
}

/****************************
       OVERZICHTPAGINA'S
****************************/
.photo-container {
    text-align: center; }
    img.photo {
        max-width: 20%; }

h1.overview-title {
    font-size: 2.5rem !important;
    padding-top: 10px;
    padding-bottom: 20px;
}

.overview-button-container {
    text-align: center;
}

@media (min-width: 640px) {

    img.photo {
        max-width: 40%;
    }

    .overview-button-container {
        text-align: initial;
    }
}


/****************************
  SOLLICITATIEOVERZICHTEN
****************************/
h1.emp-vac-soll-title {
    padding-bottom: 0;
    line-height: 1.2em;
}
p.emp-vac-soll-date {
    margin-top: -10px;
    padding-bottom: 20px;
}

.soll-date {
    width: 80px; }
.soll-company,
.soll-candidate {
    width: 100px !important; }
.soll-signs, .slash {
    font-size: 1.6rem;
}
    

.uitnodiging-werkgever {
    text-align: center; 
    width: 80px;
}

td.uitnodiging-werkgever {
    padding-bottom: 0;
    position: relative; }
    i.undo-inv {
        font-size: 1rem;
        position: absolute;
        right: 5%;
        top: 50%;
    }

#tabel-sollicitaties-kandidaat {
    border-bottom: none; }
    #tabel-sollicitaties-kandidaat thead th {
        border-bottom: none; }
    #tabel-sollicitaties-kandidaat tr td {
        font-size: 0.8rem; 
    }

.cand-soll-button-container {
    margin-top: 30px;
}


@media (min-width: 640px) {

    .soll-date {
        width: auto; }
    .soll-company,
    .soll-candidate {
        width: 80px !important; }
    .soll-signs, .slash {
        font-size: 2em;
    }

    .uitnodiging,
    .motivatie {
        text-align: center; 
    }

    .uitnodiging-werkgever {
        text-align: initial; }
        i.undo-inv {
            font-size: 1.25rem;
            right: 5%;
            top: 35%;
        }

    #tabel-sollicitaties-kandidaat {
        margin-bottom: 10px;
    }
    #tabel-sollicitaties-vacature_wrapper,
    #tabel-alle-sollicitaties_wrapper {
        width: 90%;
    }

    .cand-soll-button-container {
        margin-top: 50px;
    }
}


@media (min-width: 1024px) {

    .soll-company,
    .soll-candidate {
        width: 200px !important;
    }
    
     .uitnodiging-werkgever {
            width: 50px; }
        i.undo-inv {
            font-size: 1rem;
            top: 35%;
        }
    
    #tabel-sollicitaties-kandidaat_wrapper {
        width: 90%; }
        #tabel-sollicitaties-kandidaat tr td {
            font-size: 1rem; 
        }
}


@media (min-width: 1400px) {

    #tabel-sollicitaties-vacature_wrapper,
    #tabel-alle-sollicitaties_wrapper {
        width: 60%;
    }
       
}

/****************************
    VACATURES WERKGEVER
****************************/
#tabel-vacatures-werkgever {
    border-bottom: none; }
    #tabel-vacatures-werkgever thead th {
        border-bottom: none; }
    .sollicitanten {
        width: 20%;
        text-align: center;
    }

.voeg-vacatures-toe {
    margin-top: 50px;
}

@media (min-width: 640px) {

    #tabel-vacatures-werkgever {
        width: 90%;
    }
}

@media (min-width: 1024px) {

    #tabel-vacatures-werkgever {
        width: 80%;
    }
}


/****************************
        DETAILPAGINA
****************************/
.detail-logos-container {
    text-align: center;    
}
img.detail-logos {
    width: 80%;
    max-width: 100px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

div.detail-date {
    font-weight: 600;
    font-size: 12px; }
h1.detail-titel {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif !important; }
.detail-subheading {
    padding-bottom: 10px; }
    .detail-location {
        float: right;
        padding-right: 5px;
    }
h2.detail-about {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif !important;
}

i.detail-arrow {
    padding-left: 5px;
    padding-right: 12px;
    font-size: 26px;
    transform: scale(1.5); }
.med-arrow-cell {
    text-align: right;
    padding-right: 20px;
}
i.detail-arrow-medium {
    font-size: 26px;
    padding-top: 3px;
    display: inline;
}
a.solliciteer-direct {
    font-size: 26px;
}

.meer-vacatures {
    padding-left: 8px;
    font-size: 20px;
    padding-top: 15px;
}

#tabel-meer-vacatures {
    border-bottom: none; }
    #tabel-meer-vacatures thead th {
        border-bottom: none;
    }

@media (min-width: 640px) {

    img.detail-logos {
        max-width: 140px;
    }

    div.detail-date {
        font-size: 14px;
        font-weight: 500; }
    h1.detail-titel {
        font-size: 24px; }
    .detail-subheading {
        font-size: 18px;
        padding-top: 10px;
    }
    .detail-location {
        padding-right: 20px;
    }

    h2.detail-about {
        font-size: 20px;
    }

    .detail-text-container,
    #tabel-meer-vacatures {
        padding-right: 20px;
    }

    .meer-vacatures {
        padding-top: 0;
    }
}

@media (min-width: 1024px) {
    img.detail-logos {
        max-width: 160px;
    }

    .detail-level,
    .detail-location {
        font-size: 22px; }
        .detail-location {
            padding-right: 30px;
        }

    .med-arrow-cell {
        position: relative;
        height: 32px }
        i.detail-arrow-medium {
            position: absolute;
            float: none;
            font-size: 30px;
            right: 10%;
            top: 57.5%;
        }
    a.solliciteer-direct {
        font-size: 32px;
    }

    .meer-vacatures {
        font-size: 24px;
    }
}

/****************************
        VACATUREOVERZICHT
*****************************/

.table-container {
    max-width: 100vw;
}
#tabel-vacatures {
    overflow: inherit;
}

img.overview-icon {
    max-width: 80px;
}
.overview-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
}

/**************************** 
        HOMEPAGE
*************************** */

#slideshow {
    height: 40%;
    position: relative; }
#text-block {
    color: white;
    transform: rotate(-10deg);
    position: absolute;
    bottom: 35px;
    right: 10px;
    text-align: right;
    overflow: hidden; }
    .slideshow-text {
        display: inline-block;
        white-space: nowrap;
        background-color: #333333; }

.icon {
    padding-right: 10px;
}

div.home-date {
    font-weight: 600;
    font-size: 12px; }
h2.home-titel {
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.4em; }
p.home-text {
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; }

.home-arrow {
    color: white;
    padding: 10px;
}


@media (min-width: 640px) {

    .vacancy {
        padding-bottom: 40px; }
        .icon img {
            transform: scale(0.8); }
        div.home-date {
            font-size: 18px; }
        h2.home-titel {
            font-size: 24px; }
        p.home-text {
            font-size: 18px;
            line-height: 1.4em; }

    .fa-arrow-right {
        transform: scale(1.4);
    }
}

@media (min-width: 1024px) {

    .icon img {
        transform: scale(0.9); }
    div.home-date{
        font-size: 16px; }
    p.home-text {
        font-size: 18px; }

    .arrow {
        text-align: center;
        position: relative;
        padding-right: 50px; }
        .fa-arrow-right {
            position: absolute;
            top: 50%;
            transform: scale(1.5); }
}


/**************************** 
            BASE
*************************** */
.logo {
    width: 130px;
}
.footer-logo-small {
    float: right;
}


.header {
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.title-bar {
    background-color: #333333 !important;
    color: white !important;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.top-bar {
    background-color: #333333 !important; }
    .top-bar-right .dropdown {
        background-color: #333333 !important;
        padding-top: 40px; }
        .top-bar-right .dropdown a {
            color: white !important;
            text-transform: uppercase; }

button.menu-icon {
    width: 40px;
    height: 40px; }
    button.menu-icon::after {
        height: 6px;
        -webkit-box-shadow: 0 14px 0 #fefefe, 0 28px 0 #fefefe;
                box-shadow: 0 14px 0 #fefefe, 0 28px 0 #fefefe; }
    button.menu-icon:hover::after {
        -webkit-box-shadow: 0 14px 0 #cacaca, 0 28px 0 #cacaca;
                box-shadow: 0 14px 0 #cacaca, 0 28px 0 #cacaca; }

.triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3vh 105vw 0 0;
    border-color: #F15A24 transparent transparent transparent;
    display: inline-block;
    filter: drop-shadow(0 1px 4px #333333);
}



main {
    color: #333333;
    height: 100%;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 130px 10px 220px 10px;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3vh 105vw;
    border-color: transparent transparent #F15A24 transparent;
    display: inline-block;
    margin-bottom: -6px;
    filter: drop-shadow(0 -1px 4px #333333);
}

footer {
    background-color: #333333 !important;
    color: white !important;
    height: auto;
    position: relative; }
    footer p {
        font-size: 0.7em;
        font-style: italic;
        margin-top: -10px; }
    footer h2 {
        font-size: 1.5em; }
    .address {
        padding-left: 10px;
        padding-top: 10px; }
    .privacy {
        padding-left: 10px;
        padding-bottom: 10px; }


        
@media (max-width: 360px) {

    main {
        padding-top: 20vh;
        padding-bottom: 39vh;
    }
}

@media (max-width: 640px) {

    .top-bar-right .dropdown {
        padding: 0;
        float: right;
    }
}

@media (min-width: 640px) {

    main {
        padding: 150px 20px 150px 20px;
    }

    footer p {
        position: absolute;
        bottom: 5px; }
    footer h2 {
        position: absolute;
        bottom: 45px; }
}

@media (min-width: 1050px) {
    main {
        padding-top: 150px;
    }
}