body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue.otf") format("opentype");
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

h1 {
    color: #F15A24;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important;
    padding: 0;
    margin: 0;
}

h2 {
    color: #F15A24;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important;
    padding: 0;
    margin: 0;
}

/* homepage */

.hexagon::before {
    content: "\2B23";
    font-size: 24vw;
    position: relative;
    bottom: 5vh;
}

.fab {
    filter: invert(100%);
    position: absolute;
    bottom: 5vh;
    z-index: 1;
}

div.home-date {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    font-weight: 600;
    font-size: 12px;
}

h2.home-titel {
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.4em;
}

p.home-text {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fa-arrow-right {
    color: white;
    padding: 10px;
}

button.all-vacancies {
    background-color: #333333;
    color: white;
    border: solid #333333 10px;
    border-radius: 5px;
}

@media (min-width: 640px) {
    
    p.home-text {
        line-height: 1.6em;
    }
    button.all-vacancies {
        width: 50%;
        height: 150%;
    }
}

@media (min-width: 1024px) {
    .hexagon::before {
        font-size: 12vw;
    }
}


/* base.html.twig */
.logo {
    width:130px;
}

.footer-logo-small {
    float:right;
}


.header {
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.title-bar {
    background-color: #333333 !important;
    color: white !important;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.top-bar {
    background-color: #333333 !important;
}

.top-bar-right .dropdown {
    background-color: #333333 !important;
    padding-top: 40px;
}

.top-bar-right .dropdown a {
    color: white !important;
    text-transform: uppercase;
}

button.menu-icon {
    width: 40px;
    height: 40px;
}
button.menu-icon::after {
    height: 6px;
    -webkit-box-shadow: 0 14px 0 #fefefe, 0 28px 0 #fefefe;
            box-shadow: 0 14px 0 #fefefe, 0 28px 0 #fefefe;
}

.triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3vh 105vw 0 0;
    border-color: #F15A24 transparent transparent transparent;
    display: inline-block;
    filter: drop-shadow(0 1px 4px #333333);
}


main {
    color: #333333;
    height:100%;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16vh 10px 27vh 10px;
}


.triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3vh 105vw;
    border-color: transparent transparent #F15A24 transparent;
    display: inline-block;
    margin-bottom:-6px;
    filter: drop-shadow(0 -1px 4px #333333);
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}

footer {
    background-color: #333333 !important;
    color: white !important;
    height: auto;
    position: relative;
}

footer p {
    font-size: 0.7em;
    font-style: italic;
    margin-top:-10px;
}

footer h2 {
    font-size: 1.5em;
}

.address {
    padding-left:10px;
    padding-top: 10px;
}

.privacy {
    padding-left: 10px;
    padding-bottom:10px;
}


@media (min-width: 640px) {

    footer p {
        position: absolute;
        bottom: 5px;
    }
    
    footer h2 {
        position: absolute;
        bottom: 45px;
    }
}