@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue.otf") format("opentype"); }
@font-face {
    font-family: 'Roboto Condensed';
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype"); }


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
    color: #F15A24;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important;
    padding: 0;
    margin: 0;
}

h2 {
    color: #F15A24;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif !important;
    padding: 0;
    margin: 0;
}

/**************************** 
        HOMEPAGE
*************************** */

.icon {
    padding-right: 10px;
}

div.home-date {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    font-weight: 600;
    font-size: 12px; }
h2.home-titel {
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.4em; }
p.home-text {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; }

.fa-arrow-right {
    color: white;
    padding: 10px;
}

a.all-vacancies {
    background-color: #333333;
    color: white;
    border: solid #333333 10px;
    border-radius: 5px;
}

@media (min-width: 640px) {

    .vacancy {
        padding-bottom: 40px; }
        .icon img {
            transform: scale(0.8); }
        div.home-date {
            font-size: 18px; }
        h2.home-titel {
            font-size: 24px; }
        p.home-text {
            font-size: 20px;
            line-height: 1.6em; }

    .fa-arrow-right {
        transform: scale(1.4);
    }

    a.all-vacancies {
        font-size: 1.5em;
        padding: 10px;
    } 
}

@media (min-width: 1024px) {

    .icon img {
        transform: scale(0.9); }
    div.home-date{
        font-size: 16px; }
    p.home-text {
        font-size: 18px; }

    .arrow {
        text-align: center;
        position: relative;
        padding-right: 50px; }
        .fa-arrow-right {
            position: absolute;
            top: 50%;
            transform: scale(1.5); }
}


/**************************** 
            BASE
*************************** */
.logo {
    width:130px;
}
.footer-logo-small {
    float:right;
}


.header {
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.title-bar {
    background-color: #333333 !important;
    color: white !important;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.top-bar {
    background-color: #333333 !important; }
    .top-bar-right .dropdown {
        background-color: #333333 !important;
        padding-top: 40px; }
        .top-bar-right .dropdown a {
            color: white !important;
            text-transform: uppercase; }

button.menu-icon {
    width: 40px;
    height: 40px; }
    button.menu-icon::after {
        height: 6px;
        -webkit-box-shadow: 0 14px 0 #fefefe, 0 28px 0 #fefefe;
                box-shadow: 0 14px 0 #fefefe, 0 28px 0 #fefefe; }
    button.menu-icon:hover::after {
        -webkit-box-shadow: 0 14px 0 #cacaca, 0 28px 0 #cacaca;
                box-shadow: 0 14px 0 #cacaca, 0 28px 0 #cacaca; }

.triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3vh 105vw 0 0;
    border-color: #F15A24 transparent transparent transparent;
    display: inline-block;
    filter: drop-shadow(0 1px 4px #333333);
}



main {
    color: #333333;
    height: 100%;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 18vh 10px 32vh 10px;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3vh 105vw;
    border-color: transparent transparent #F15A24 transparent;
    display: inline-block;
    margin-bottom: -6px;
    filter: drop-shadow(0 -1px 4px #333333);
}

footer {
    background-color: #333333 !important;
    color: white !important;
    height: auto;
    position: relative; }
    footer p {
        font-size: 0.7em;
        font-style: italic;
        margin-top: -10px; }
    footer h2 {
        font-size: 1.5em; }
    .address {
        padding-left: 10px;
        padding-top: 10px; }
    .privacy {
        padding-left: 10px;
        padding-bottom: 10px; }


        
@media (max-width: 360px) {

    main {
        padding-top: 20vh;
        padding-bottom: 39vh;
    }
}

@media (max-width: 640px) {

    .top-bar-right .dropdown {
        padding: 0;
        float: right;
    }
}

@media (min-width: 640px) {

    main {
        padding: 15vh 20px 20vh 20px;
    }

    footer p {
        position: absolute;
        bottom: 5px; }
    footer h2 {
        position: absolute;
        bottom: 45px; }
}

@media (min-width: 1050px) {
    main {
        padding-top: 150px;
        padding-bottom: 15vh;
    }
}