<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VacIT{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="assets/css/vacit-main.css">
        {% block stylesheets %}{% endblock %}

        <script src="assets/jquery/jquery-3.5.1.js"></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        
    </body>
</html>
