{% extends 'base.html.twig' %}

{% block title %} :: Mijn Sollicitaties{% endblock %}

{% block body %}

    {% if user.sollicitaties is empty %}

        Je hebt nog niet gesolliciteerd!

    {% else %}
    
        
        <pre>

            {% for sollicitatie in user.sollicitaties %}

                {{ user.naam }} heeft gesolliciteerd op {{ sollicitatie.vacature.vacaturetitel }}
                
            {% endfor %}

        </pre>


    {% endif %}

    <div class="button-container">
        <a class="button-small" href="{{ path('vacatureoverzicht') }}">Bekijk de meest recente vacatures</a>
    </div>

{% endblock %}